/* Partie menu a ne pas toucher*/
a{
    font-size: 30px;
}
tr,th{
    margin-right:30px;
    margin-left:30px;
}
#nonselect:not(:hover)>table{
    display:none;
}
#nonselect:not(:hover)>#motclef{
    display:block;
}
#nonselect:hover>table{
    display:block;
}
#nonselect:hover>#motclef{
    display:none;
}
#logo_univ{
    margin-left:72%;
}
#menu{
    margin-left:42px;
}
tr>th{
    padding-right:20px;
}
/* Partie a changer surement*/
body{
    background-color: grey;
    color:lightblue;
    font-size: 30px;
}
